<div id="stashes">
	<h3>Stashes</h3>
	<mat-nav-list>
		<a mat-list-item [routerLink]="['/home', {stash: stash.uuid}]" *ngFor="let stash of stashes" [class.selected]="stash.uuid === selectedStash?.uuid">
			{{stash.name}}
			<button matListItemMeta mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
			<mat-menu #menu="matMenu">
				<a mat-menu-item [routerLink]="['/stashes', stash.uuid]">
					<mat-icon>edit</mat-icon>
					<span>Edit stash</span>
				</a>
				<button mat-menu-item (click)="deleteStash(stash)">
					<mat-icon>delete</mat-icon>
					<span>Delete stash</span>
				</button>
			</mat-menu>
		</a>
	</mat-nav-list>
	<a class="mat-fab-bottom-right" mat-fab [routerLink]="['/stash']" matTooltip="Create a new stash"><mat-icon><i class="material-icons">add</i></mat-icon></a>
</div>
