.alert {
	position: fixed;
	padding: 0.5rem;
	width: 25rem;
	left: calc(50% - 12.5rem);
	top: 0;
	text-align: center;
	cursor: pointer;
}
.alert-success {
	background-color: #009688;
	color: white;
}
.alert-danger {
	background-color: crimson;
	color: white;
}
.alert-success {
	background-color: #00897b;
	color: white;
}
