<div class="nice-box">
	<h2>Register</h2>
	<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
		<div [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
			<mat-form-field>
				<input matInput type="text" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel" required placeholder="First name">
				<mat-error *ngIf="f.submitted && !firstname.valid">First name is required</mat-error>
			</mat-form-field>
		</div>
		<div [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
			<mat-form-field>
				<input matInput type="text" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel" required placeholder="Last name">
				<mat-error *ngIf="f.submitted && !lastname.valid">Last name is required</mat-error>
			</mat-form-field>
		</div>
		<div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
			<mat-form-field>
				<input matInput type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required placeholder="E-mail">
				<mat-error *ngIf="f.submitted && !email.valid">E-mail required</mat-error>
			</mat-form-field>
		</div>
		<div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			<mat-form-field>
				<input matInput type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required placeholder="Password">
				<mat-error *ngIf="f.submitted && !password.valid">Password is required</mat-error>
			</mat-form-field>
		</div>
		<div>
			<a mat-raised-button [routerLink]="['/login']">Cancel</a>
			<button mat-raised-button [disabled]="loading">Register</button>
			<img *ngIf="loading" src="assets/loading.png" />
		</div>
	</form>
</div>
