<div class="nice-box">
	<h2>Register</h2>
	<form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
		<mat-form-field>
			<input matInput type="text" formControlName="name" required placeholder="Name" autocomplete="name">
			<mat-error *ngIf="registerForm.controls['name'].errors?.['required']">Name is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="email" formControlName="email" required placeholder="Email" autocomplete="email">
			<mat-error *ngIf="registerForm.controls['email'].errors?.['required']">Email required</mat-error>
			<mat-error *ngIf="registerForm.controls['email'].errors?.['email']">Email is not valid</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="password" formControlName="password" required placeholder="Password" autocomplete="new-password">
			<mat-error *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</mat-error>
		</mat-form-field>

		<menu>
			<li>
				<a mat-raised-button [routerLink]="['/login']">Cancel</a>
			</li>
			<li>
				<button mat-raised-button [disabled]="loading || registerForm.invalid">
					Register <img *ngIf="loading" src="assets/loading.png" />
				</button>
			</li>
		</menu>
	</form>
</div>
