<div class="content">
	<h2>Stash</h2>
	<form [formGroup]="stashForm" (ngSubmit)="save()" novalidate class="large-form">
		<mat-form-field>
			<input matInput type="text" formControlName="name" required placeholder="Name">
			<mat-error *ngIf="stashForm.controls['name'].errors?.['required']">Name is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="text" formControlName="description" placeholder="Description">
			<mat-error *ngIf="stashForm.controls['description'].errors?.['required']">Description is required</mat-error>
		</mat-form-field>

		<menu>
			<li>
				<a mat-raised-button [routerLink]="['/']">Cancel</a>
			</li>
			<li>
				<button mat-raised-button [disabled]="loading || stashForm.invalid">
					Save <img *ngIf="loading" src="assets/loading.png" alt="Loading" />
				</button>
			</li>
		</menu>
	</form>
</div>
