.container {
	display: flex;
	align-items: stretch;
	height: 100%;
}
app-stashes {
	width: 30rem;
	order: 0;
	background-color: white;
	border-right: 2px solid #eee;
}
app-spots {
	width: 30rem;
	order: 1;
	background-color: white;
	border-right: 2px solid #eee;
}
google-map {
	width: 100%;
	height: 100%;
	order: 2;
}