<div class="content">
	<h2>Profile</h2>
	<mat-tab-group>
		<mat-tab label="Details">
			<form [formGroup]="userForm" (ngSubmit)="saveDetails()" class="large-form">
				<mat-form-field>
					<input matInput type="text" formControlName="name" required placeholder="Name" autocomplete="name">
					<mat-error *ngIf="userForm.controls['name'].errors?.['required']">Name is required</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="email" formControlName="email" required placeholder="Email" autocomplete="email">
					<mat-error *ngIf="userForm.controls['email'].errors?.['required']">Email is required</mat-error>
					<mat-error *ngIf="userForm.controls['email'].errors?.['email']">Email is not valid</mat-error>
				</mat-form-field>

				<div class="button-row">
					<a mat-raised-button [routerLink]="['/']">Cancel</a>
					<button mat-raised-button [disabled]="loading || userForm.invalid">Save</button>
					<button type="button" mat-raised-button [disabled]="loading" color="warn" (click)="deleteAccount()">Delete account</button>
					<img *ngIf="loading" src="assets/loading.png" />
				</div>
			</form>
		</mat-tab>
		<mat-tab label="Password">
			<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="large-form">
				<mat-form-field>
					<input matInput type="password" formControlName="currentPassword" required placeholder="Current password" autocomplete="current-password">
					<mat-error *ngIf="passwordForm.controls['currentPassword'].errors?.['required']">Password is required</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" formControlName="newPassword" required placeholder="New password" autocomplete="new-password">
					<mat-error *ngIf="passwordForm.controls['newPassword'].errors?.['required']">New password is required</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" formControlName="confirmPassword" required placeholder="Repeat new password" autocomplete="new-password">
					<mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.['required']">Repeat new password is required</mat-error>
				</mat-form-field>
				<mat-error *ngIf="passwordForm.controls['newPassword'].touched && passwordForm.controls['confirmPassword'].touched && passwordForm.errors?.['notIdentical']">Passwords must be identical</mat-error>

				<div>
					<a mat-raised-button [routerLink]="['/']">Cancel</a>
					<button mat-raised-button [disabled]="loading  || passwordForm.invalid">Save</button>
					<img *ngIf="loading" src="assets/loading.png" />
				</div>
			</form>
		</mat-tab>
	</mat-tab-group>
</div>
