<div id="spots">
	<h3>Spots</h3>
	<mat-nav-list>
		<a mat-list-item [routerLink]="['/home', {stash: selectedStash.uuid, spot: spot.uuid}]" *ngFor="let spot of spots; let i = index">
			<span class="index" [class.selected]="spot.uuid === selectedSpot?.uuid" [textContent]="mapService.generateLabel(i)"></span> {{spot.name}}
			<a mat-icon-button [routerLink]="['/spots', spot.uuid, {stash: selectedStash.uuid}]" class="action action_edit" matTooltip="Edit spot"><mat-icon><i class="material-icons">edit</i></mat-icon></a>
			<button mat-icon-button (click)="deleteSpot(spot)" class="action action_delete" matTooltip="Delete spot"><mat-icon><i class="material-icons">delete</i></mat-icon></button>
		</a>
	</mat-nav-list>
	<a class="mat-fab-bottom-right" mat-fab [routerLink]="['/spot', {stash: selectedStash.uuid}]" matTooltip="Create a new spot"><mat-icon><i class="material-icons">add</i></mat-icon></a>
</div>
